#!/usr/bin/env bash

# Check and use nvm if available
if [ -s $HOME/.nvm/nvm.sh ]; then
  . $HOME/.nvm/nvm.sh
  nvm use
fi


# Source a .env file. This ensures that all variables that are set are exported to child shells.
if [ -s .env ]; then
  # Export our environment variables (the -a flag will export all variables that are set)
  set -a
  . .env
  set +a
else
  echo "ERROR: .env not found. You need to copy the template from .env.example"
fi
